<a href="https://colab.research.google.com/github/nafiul-araf/Pandas-Projects/blob/main/Pandas_Project_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('/content/drive/MyDrive/DS360 Machine Learning/Course DSML/top-5000-youtube-channels.csv')

In [4]:
# Display All Rows Except the Last 5 rows Using Head Method

df.head(len(df) - 5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704
4991,"4,992nd",B+,Toys to Learn Colors,11,663114,141933264
4992,"4,993rd",B+,КАZКА,25,131766,74304638
4993,"4,994th",B+,United CUBE (CUBE Entertainment…,1055,1586835,371299166
4994,"4,995th",B+,Wings Marathi,1735,1099659,346175699

In [5]:
# Display All Rows Except the First 5 Rows Using Tail Method

df.tail(len(df) - 5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd müzik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307
...,...,...,...,...,...,...
4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

In [6]:
# Find Shape of Our Dataset (Number of Rows And Number of Columns)

df.shape

(5000, 6)

In [7]:
# Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [8]:
# Get Overall Statistics About The Dataframe

df.describe()

        Video views
count  5.000000e+03
mean   1.071449e+09
std    2.003844e+09
min    7.500000e+01
25%    1.862329e+08
50%    4.820548e+08
75%    1.124368e+09
max    4.754884e+10

In [11]:
# Data Cleaning  (Replace '--'  to NaN)

df.map(lambda x: '--' in str(x)).any()

Rank             False
Grade            False
Channel name     False
Video Uploads     True
Subscribers       True
Video views      False
dtype: bool

In [12]:
df=df.replace(r'--', np.nan, regex=True)

True

In [13]:
df.map(lambda x: '--' in str(x)).any()

Rank             False
Grade            False
Channel name     False
Video Uploads    False
Subscribers      False
Video views      False
dtype: bool

In [14]:
# Check Null Values In The Dataset

df.isnull().sum()

Rank               0
Grade              0
Channel name       0
Video Uploads      6
Subscribers      387
Video views        0
dtype: int64

In [15]:
# Data Cleaning [ Rank Column ]

df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [16]:
df.Rank.unique()

array(['1st', '2nd', '3rd', ..., '4,998th', '4,999th', '5,000th'],
      dtype=object)

In [17]:
df[df['Rank'].str.contains('st', case=False, na=False)]['Rank']

0           1st
20         21st
30         31st
40         41st
50         51st
         ...
4950    4,951st
4960    4,961st
4970    4,971st
4980    4,981st
4990    4,991st
Name: Rank, Length: 450, dtype: object

In [18]:
df[df['Rank'].str.contains('nd', case=False, na=False)]['Rank']

1           2nd
21         22nd
31         32nd
41         42nd
51         52nd
         ...
4951    4,952nd
4961    4,962nd
4971    4,972nd
4981    4,982nd
4991    4,992nd
Name: Rank, Length: 450, dtype: object

In [19]:
df[df['Rank'].str.contains('rd', case=False, na=False)]['Rank']

2           3rd
22         23rd
32         33rd
42         43rd
52         53rd
         ...
4952    4,953rd
4962    4,963rd
4972    4,973rd
4982    4,983rd
4992    4,993rd
Name: Rank, Length: 450, dtype: object

In [20]:
df['Rank'].tail()

4995    4,996th
4996    4,997th
4997    4,998th
4998    4,999th
4999    5,000th
Name: Rank, dtype: object

In [21]:
df['Rank']=df['Rank'].str.replace(r'[^\d]', '', regex=True).astype(int)
df

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,A++,Zee TV,82757,18752951,20869786591
1,2,A++,T-Series,12661,61196302,47548839843
2,3,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,A++,SET India,27323,31180559,22675948293
4,5,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4995,4996,B+,Uras Benlioğlu,706,2072942,441202795
4996,4997,B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,4998,B+,Mastersaint,110,3265735,311758426
4998,4999,B+,Bruce McIntosh,3475,32990,14563764
4999,5000,B+,SehatAQUA,254,21172,73312511

In [22]:
df.dtypes

Rank              int64
Grade            object
Channel name     object
Video Uploads    object
Subscribers      object
Video views       int64
dtype: object

In [23]:
# Data Cleaning [ Video Uploads & Subscribers ]

df['Video Uploads']=df['Video Uploads'].fillna(0).astype(int)

In [24]:
df.isnull().sum()

Rank               0
Grade              0
Channel name       0
Video Uploads      0
Subscribers      387
Video views        0
dtype: int64

In [25]:
df['Subscribers']=df['Subscribers'].fillna(0).astype(int)

In [26]:
df.dtypes

Rank              int64
Grade            object
Channel name     object
Video Uploads     int64
Subscribers       int64
Video views       int64
dtype: object

In [27]:
df.isnull().sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64

In [28]:
# Data Cleaning [ Grade Column ]

df['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', '\xa0 ', 'A- ', 'B+ '], dtype=object)

In [29]:
df['Grade']=df['Grade'].str.strip()
df['Grade'].unique()

array(['A++', 'A+', 'A', '', 'A-', 'B+'], dtype=object)

In [32]:
df.isnull().sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64

In [33]:
df=df[df['Grade'] != '']

df['Grade'].unique()

array(['A++', 'A+', 'A', 'A-', 'B+'], dtype=object)

In [34]:
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,A++,Zee TV,82757,18752951,20869786591
1,2,A++,T-Series,12661,61196302,47548839843
2,3,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,A++,SET India,27323,31180559,22675948293
4,5,A++,WWE,36756,32852346,26273668433

In [36]:
# Find Average Views For Each Channel

df.groupby('Channel name')['Video views'].mean()

Channel name
#Desenhos Kids BR               8.404115e+07
#FIRST WINGS FILM PRODUCTION    1.267895e+07
#Mentale Zuflucht               3.634114e+08
#Mind Warehouse                 1.337877e+09
#Refugio Mental                 1.262197e+09
                                    ...
핑크퐁 (인기 동요・동화)                  1.595353e+09
허팝Heopop                        1.690027e+09
헤이지니 Hey Jini                   4.550237e+08
헬로카봇 - hello carbot…            3.291915e+08
흔한남매                            1.196532e+08
Name: Video views, Length: 4987, dtype: float64

In [41]:
# Find Out Top Five Channels With Maximum Number of Video Uploads

df.groupby('Channel name')['Video Uploads'].sum().sort_values(ascending=False).head()

Channel name
AP Archive                 422326
Various Artists - Topic    411006
YTN NEWS                   355996
SBS Drama                  335521
GMA News                   269065
Name: Video Uploads, dtype: int64

In [43]:
numeric_dtypes=df.select_dtypes(include='number')
print(numeric_dtypes.corr())

                   Rank  Video Uploads  Subscribers  Video views
Rank           1.000000      -0.069139    -0.364277    -0.390397
Video Uploads -0.069139       1.000000     0.019490     0.092436
Subscribers   -0.364277       0.019490     1.000000     0.792046
Video views   -0.390397       0.092436     0.792046     1.000000

In [44]:
# Which Grade Has A Maximum Number of Video Uploads?

most_uploaded_grade=df.loc[df['Video Uploads'].idxmax()]

In [45]:
most_uploaded_grade

Rank                   3454
Grade                    B+
Channel name     AP Archive
Video Uploads        422326
Subscribers          746325
Video views       548619569
Name: 3453, dtype: object

In [46]:
most_uploaded_grade['Grade'], most_uploaded_grade['Video Uploads']

('B+', 422326)

In [47]:
# Which Grade Has The Highest Average Views?
grade_video_avg=df.groupby('Grade')['Video views'].mean()

grade_video_avg.idxmax(), grade_video_avg.max()

('A++', 21199091192.8)

In [48]:
# Which Grade Has The Highest Number of Subscribers?

most_subscribed_grade=df.loc[df['Subscribers'].idxmax()]

most_subscribed_grade['Grade'], most_subscribed_grade['Subscribers']

('A-', 65995310)

In [49]:
# Which Grade Has The Highest Video Views?

most_viewed_grade=df.loc[df['Video views'].idxmax()]

most_viewed_grade['Grade'], most_viewed_grade['Video views']

('A++', 47548839843)